body {
  margin: 0px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin-left: 15px;
  display: inline-block;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.box {
  /* A lui qu'on donne une taille avec flex-basis*/
  flex: 1 1 250px;
  padding: 15px;
}

img {
  /* doit prendre toute la place disponible de son conteneur. En % pas en px pour rester responsive.*/
  width: 100%;
  height: 100%;
}
